body {
  background-color: #1d1c2a; 
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh; 
  overflow: auto; 
}

.main-layout {
  display: flex;
  flex-direction: row;
}

.navigation {
  background-color: #222433;
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  color: #7c88a5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  flex-grow: 1;
}

.navigation ul li {
  padding: 15px 60px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.navigation ul li.active,
.navigation ul li:hover {
  background: rgba(95, 134, 243, 0.2);
}

.navigation ul li a {
  text-decoration: none;
  color: rgb(95, 134, 243);
  transition: color 0.3s ease;
}

.navigation ul li:hover,
.navigation ul li:hover a {
  color: #00a3ff !important;
}

.navigation ul li.logout {
  cursor: pointer;
  font-weight: bold;
  color: rgb(197, 18, 18);
  margin-top: auto;
  position: absolute;
  bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  transition: color 0.3s ease;
}

.navigation ul li.logout:hover {
  color: white !important;
}

.content-layout {
  display: flex;
  margin-left: 10px; 
  padding: 0px;
  flex-grow: 1;
}

.main-content {
  flex-grow: 1;
  margin-right: 100px;
}
