body {
  background-color: #f1f1f1; 
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh; 
  overflow: auto; 
}

.main-layout {
  display: flex;
  flex-direction: row;
}

.navigation {
  background-color: #161616;
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  color: #F8B319;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  flex-grow: 1;
}

.navigation ul li {
  padding: 15px 60px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.navigation ul li.active,
.navigation ul li:hover {
  background: #ca8e0c;
}

.navigation ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.navigation ul li:hover,
.navigation ul li:hover a {
  color: #fff !important;
}

.navigation ul li.logout {
  cursor: pointer;
  font-weight: bold;
  color: #F8B319;
  margin-top: auto;
  position: absolute;
  bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  
}

.navigation ul li.logout:hover {
  color: white !important;
}

.content-layout {
  display: flex;
  
  padding: 0px;
  flex-grow: 1;
  margin-top: 350px;
}

.main-content {
  flex-grow: 1;
  margin-right: 100px;
}

.logo{
  font-weight: 600;
  font-size: 30px;
}